<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if name.capitalize == 'Eugene' %}
    <h2>
    Say hello, {{ name.upper }}
    </h2>
        {% if product %}<p>{{ product.title|capfirst }}</p>{% endif %}

<ul> 
{% for product in products %}
    <li>Title: {{product.title}} </li>
    <li>{{product}} - {{ product.collection.title }} </li>
{% endfor %}
</ul>
    
<ul> 
{% for order in orders %}
    <li>{{order.id}}: {{ order.customer.first_name }} </li>
{% endfor %}
</ul>

{% if tags %}
    <ul>
    {% for tag in tags %}
        <li>{{ tag.label }} </li>
    {% endfor %}
    </ul>
{% endif %}

{% if collection %}
        <p>{{ collection.title }} </p>
{% endif %}

{% else %}
    <h3>Helo, {{name}}!!</h3>
{% endif %}

</body>
</html>